#page-wrap{
    width:950px;
    margin:10px auto;
}
header{
    background-image:url(./images/laithaiemblem.jpg);
    background-repeat: no-repeat;
    margin-top:0;
    margin-bottom:40px;
    padding:0;
    text-align:right;
    height:100px;
    width:100%;
}
h5{
    margin-top: 0;
    margin-bottom: 5px;
}
header p{
    float:right;
    margin-right: 250px;
}
span{
font-style: italic;
}
nav{
      top:20px;
      z-index:9999;
      width: 70%;
      height:50px;
}
ul {
    list-style-type: none;
    margin-top: 150px;
    padding: 0;
    background-color:#5d7a50;
    position: absolute;
    top: 0;
    width: 70%;
 }
li {
    float: left;
    font-size: small;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color:#008000;
}
body{
     background-color: #000000;
     color: #ffffff;
     border: 5px solid #bbea54;
	   width: 98.5%;
	   font-family: Verdana, arial, Helvetica, sans-serif;
}
#remarks{
	   margin-top: 150px;
	   font-style: normal;
	   line-height: 20px;
	   border:3px solid  #bbea54;
	   padding: 20px;
	   background-color: #e5f9e7;
	   color: #011603;
}
img{
      padding: 20px;
      text-align: center;
}
table{
	   width: 500px;
	   margin: auto;
}
td{
      text-align: left;
}
th{
	    padding: 15px;
	    text-align: left;
}
#comments{
	   text-align: center;
}
footer{
    top:850px;
    font-size: x-small;
    text-align: center;
    margin-bottom:0;
    padding-top: 20px;
    text-align: center;
}
